[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/KommyButterCream/Core.git
[submodule "Modules/IOCPEngine"]
	path = Modules/IOCPEngine
	url = https://github.com/KommyButterCream/IOCPNetworkEngine.git
